/*jennifer*/
*{
	margin: 0;
	padding: 0;
}
#contenedor{
	margin: 0.5em auto;
	width: 1200px;
	height: 1200px;
	background:#D8D8D8;
}
#menu{
	height: 20%;
	background: #A4A4A4;
	border-radius: 1em;
	margin: 1em;
}
#galeria{
  	height: 10%;
	background:#424242;
	border-radius: 1em;
	margin: 1em;
}
#cuerpo{
	height: 50%;
	background:#FFFFFF; 
}
}
#cuerpo2{
	width: 1200px;
	height: 1200px;
	background:#424242;
	border-radius: 1em;
}
#blat{
	width: 100%;
	height: 70%px;
	background:#A4A4A4;
	border-radius: 1em;
}
#pie{
	height: 20%;
	background: #A4A4A4;
	border-radius: 1em;
	margin: 1em;
}